# Local terraform directories
*/.terraform/

# State files
.tfstate
*.tfstate.
*.lock.hcl

# Crash log files
*.log

# Sensitive data
*.tfvars
.env

# Vscode / pytest metadata
.vscode
.pytest_cache
__pycache__/

report.html
